<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body class="bg-light">
    <div class="container">
            <h1 class="text-center mb-4">Entrar na conta</h1>

                <a class="btn btn-primary" href="login" >Fazer login</a>
                <a class="btn btn-primary" href="/cadastrar" >Cadastrar</a>
    </div>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
