<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

</head>

<body>
    <form id="registrationForm" action="/submited" class="col-6 mx-auto" method="post">
        <h1>Cadastrar usuário</h1>
    
        <label class="form-label" for="name">Nome</label>
        <input required class="form-control" type="text" id="name" name="name">
        <br>
    
        <label class="form-label" for="login">Login</label>
        <input required class="form-control" type="text" id="login" name="login">
        <div class="invalid-feedback">Login já existe</div>
        <br>
    
        <label class="form-label" for="password">Senha</label>
        <input  required class="form-control" type="password" id="password" name="password">
        <div id="showpassword">Senha Invalida</div>
        <br>
    
        <button class="btn btn-primary" type="submit">Salvar informações</button>
        <br>
        <a class="btn btn-light" href="/users">Usuários</a>
    </form>
    
    
    <script src="/js/index.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>