<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários Cadastrados</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body class="container my-5">
    <h1 class="text-center mb-4">Usuários Cadastrados</h1>

    <div class="text-center mb-4">
        <h2 class="text-success">Submissão Concluída!</h2>
    </div>

    <a href="/" class="btn btn-primary btn-lg d-block mx-auto" style="max-width: 300px;">Voltar ao Formulário</a>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/index.js"></script>

</body>
</html>