<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

</head>
<body class="col-6 mx-auto">
    <h1>Usuários Cadastrados</h1>
    <ul >
        <% users.forEach(user => { %>
            <li>
                Nome: <%= user.name %>,
                Login: <%= user.login %>
                <form action="/delete" method="post" style="display: inline">
                    <input class="form-control" type="hidden" name="login" value="<%= user.login %>">
                    <button class="btn btn-primary" type="submit">Deletar</button>
                </form>
                <a class="btn btn-secondary" href="/edit/<%= user.login %>">Editar</a>
            </li>
            <% }); %>
        </ul>
        <a class="btn btn-primary" href="/">Cadastrar Usuarios</a>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
